<!--Wrap all in page without scroll bar-->  
  <md-sidenav-container>

    <!--Side Bar-->
    <md-sidenav #sidenav mode="side" opened="true">
      <app-sidenav-items></app-sidenav-items>
    </md-sidenav>
    <!--End Side Bar-->

    <div fxLayout="column" class="app-content">
      
      <!--Tool bar-->
      <div fxFlex="none">
        <md-toolbar class="toolbar">
          <button md-mini-fab (click)="sidenav.toggle()">
            <md-icon class="icon-toolbar">apps</md-icon>
          </button>
          <h3>{{appName}}</h3>
        </md-toolbar>
      </div>
      <!--End tool bar-->

      <!--App content-->
      <div  fxFlex >
        <router-outlet></router-outlet>
      </div>
      <!--End app content-->

    </div>

  </md-sidenav-container>
