<!--Wrap all in page without scroll bar-->  
  <md-sidenav-container>

    <!--Side Bar-->
    <md-sidenav #sidenav mode="side" opened="true">
      <app-sidenav-items></app-sidenav-items>
    </md-sidenav>
    <!--End Side Bar-->

    <div fxLayout="column" fxLayoutAlign="start stretch">
      <!--Tool bar-->
      <md-toolbar class="toolbar">
        <button md-mini-fab (click)="sidenav.toggle()">
          <md-icon class="icon-toolbar">apps</md-icon>
        </button>
      </md-toolbar>
      <!--End tool bar-->

      <!--App content-->
      <div class="app-content">
        <router-outlet></router-outlet>
      </div>
      <!--End app content-->
    </div>

  </md-sidenav-container>
