
<div class="container-fluid">
  
  <md-card class="mdCard">
    <md-card-header>
      <div md-card-avatar></div>
      <md-card-title> <h2> Bienvenue </h2> </md-card-title>
      <!--<md-card-subtitle>Dog Breed</md-card-subtitle>-->
    </md-card-header>
    
    <div class="row">
      
      <div class="col-md-7">
        <md-card-content>
          <p>
            {{ welcomeMessage }}
          </p>
        </md-card-content>
      </div>
      <div class="col-md-5">
        
      </div>
    </div>
  </md-card>
  <div class="row">
    <div class="col-md-3 col-sm-6 mdCard">
      <md-card>
        <md-card-content>
          <p>
            {{ shortMessage }}
          </p>
        </md-card-content>
      </md-card>
    </div>
    <div class="col-md-3 col-sm-6 mdCard">
      <md-card>
        <md-card-content>
          <p>
            {{ shortMessage }}
          </p>
        </md-card-content>
      </md-card>
    </div>
    <div class="col-md-3 col-sm-6 mdCard">
      <md-card>
        <md-card-content>
          <p>
            {{ shortMessage }}
          </p>
        </md-card-content>
      </md-card>
    </div>
    <div class="col-md-3 col-sm-6 mdCard">
      <md-card>
        <md-card-content>
          <p>
            {{ shortMessage }}
          </p>
        </md-card-content>
      </md-card>
    </div>
  </div>

</div>


<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
  
</div>



